{% extends "main_app/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Создание статьи" %}
{% endblock %}
{% block extra_css %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Poppins:300,400,500,600,700|PT+Serif:400,400i&display=swap"
          rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/select-boxes.css" type="text/css"/>
{% endblock %}
{% block content %}
    <h1> {% trans "Добавить статью" %} </h1>
    <div class="form-group">
        <div class="bottommargin-sm">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-dark" type="submit">{% trans "Добавить статью" %}</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="/static/js/jquery_select_picker.js"></script>
    <script src="/static/js/select-boxes.js"></script>
    <script src="/static/js/selectsplitter.js"></script>

    <script>
        jQuery(document).ready(function ($) {

            // Multiple Select
            $(".select-1").select2({
                placeholder: "Отметьте соавторов вашей статьи если они зарегестрированы на сайте"
            });

            // Loading array data
            var data = [{id: 0, text: 'enhancement'}, {id: 1, text: 'bug'}, {id: 2, text: 'duplicate'}, {
                id: 3,
                text: 'invalid'
            }, {id: 4, text: 'wontfix'}];
            $(".select-data-array").select2({
                data: data
            })
            $(".select-data-array-selected").select2({
                data: data
            });

            // Enabled/Disabled
            $(".select-disabled").select2();
            $(".select-enable").on("click", function () {
                $(".select-disabled").prop("disabled", false);
                $(".select-disabled-multi").prop("disabled", false);
            });
            $(".select-disable").on("click", function () {
                $(".select-disabled").prop("disabled", true);
                $(".select-disabled-multi").prop("disabled", true);
            });

            // Without Search
            $(".select-hide").select2({
                minimumResultsForSearch: Infinity
            });

            // select Tags
            $(".select-tags").select2({
                tags: true
            });

            // Select Splitter
            $('.selectsplitter').selectsplitter();

        });
    </script>
{% endblock %}