{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
<header class="pkp_structure_head" id="headerNavigationContainer" role="banner">
    <div style="background-image: url('/static/images/header_background.jpg'); background-size: cover">
        <div class="pkp_head_wrapper">
            <div class="pkp_site_name_wrapper">
                <a href="https://www.sammi.uz/ru/journals/9" style="text-decoration: none; color: #ffffff">
                    <img style="width: 15%; padding-bottom: 2.5%" src="/static/images/sammi_logo.png">
                </a>
                <img style="width: 20%;" src="/static/images/ujcr_logo.png">
                <p style="float: right; color: white; font-size: xx-large; margin: auto"><br> ISSN 2181-3388<br><br>eISSN 2181-3876 <br><br>doi.org/10.55620</p>
            </div>

            <nav class="pkp_navigation_primary_row" aria-label="Навигация сайта">
                <div class="pkp_navigation_primary_wrapper">
                    <ul id="navigationPrimary" class="pkp_navigation_primary pkp_nav_list">
                        <li class>
                            <a href="{% url "home" %}"> {% trans "Главная" %} </a>
                        </li>
                        <li class>
                            <a href=""> {% trans "О Журнале" %} </a>
                            <ul>
                                <li class>
                                    <a href="{% url 'editorial-team' %}"> {% trans "Редакция" %} </a>
                                </li>
                                {% for link in links %}
                                    <li class>
                                        <a href="{{ link.get_absolute_url }}"> {{ link.title }} </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class>
                            <a href=""> {% trans "Выпуски" %} </a>
                            <ul>
                                <li class>
                                    <a href="{{ current_volume.get_absolute_url }}"> {% trans "Текущий выпуск" %}</a>
                                </li>
                                {% if next_volume %}
                                    <li class>
                                        <a href="{{ next_volume.get_absolute_url }}"> {% trans "Принято в печать" %}</a>
                                    </li>
                                {% endif %}

                                <li class>
                                    <a href="{% url "issue" %}"> {% trans "Архив" %}</a>
                                </li>
                            </ul>
                        </li>
                        {% if menu_links %}
                            {% for menu_link in menu_links %}
                                <li class>
                                    <a href="{{ menu_link.get_absolute_url }}">{{ menu_link.title }}</a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {% if user.is_staff %}
                            <li class>
                                <a href="/admin/"> {% trans "Админ панель" %} </a>
                            </li>
                        {% endif %}
                    </ul>

                    <form class="pkp_search" action="{% url 'search' %}"
                          method="get" role="search">

                        <input name="q" value type="text" aria-label="Поисковый запрос"/>

                        <button type="submit">Найти</button>
                        <div class="search_controls" aria-hidden="true">
                            <a href="#"
                               class="headerSearchPrompt search_prompt" aria-hidden="true"> Найти </a>
                            <a href="#" class="search_cancel headerSearchCancel" aria-hidden="true"></a>
                            <span class="search_loading" aria-hidden="true"></span>
                        </div>
                    </form>

                </div>
            </nav>
            {% if user.is_authenticated %}
                <nav class="pkp_navigation_user_wrapper" id="navigationUserWrapper" aria-label="Навигация пользователя">
                    <ul id="navigationUser" class="pkp_navigation_user pkp_nav_list">
                        <li class="profile">
                            {% if is_author or is_reviewer %}
                                <span style="color: white">login:
                                    <a href="{% url "author-profile" %}">
                                        <strong>{{ request.user.username }}</strong>
                                    </a>
                                </span>
                            {% else %}
                                <span style="color: white">login:
                                    <strong>{{ request.user.username }}</strong>
                                </span>
                            {% endif %}
                        </li>
                        <li class="profile">
                            <a href="{% url 'exit' %}"> {% trans "Выйти" %} </a>
                        </li>
                    </ul>
                </nav>
            {% else %}
                <nav class="pkp_navigation_user_wrapper" id="navigationUserWrapper" aria-label="Навигация пользователя">
                    <ul id="navigationUser" class="pkp_navigation_user pkp_nav_list">
                        <li class="profile">
                            <a href="{% url 'registration' %}"> Регистрация </a>
                        </li>
                        <li class="profile">
                            <a href="{% url 'login' %}"> Вход </a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
    <!-- .pkp_head_wrapper -->
</header>
