{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
<header class="pkp_structure_head" id="headerNavigationContainer" role="banner">
    <div class="pkp_head_wrapper">
        <div class="pkp_site_name_wrapper">
            <h1 class="pkp_site_name">
                {% if CURRENT_LANGUAGE == "ru" %}
                    <a href="https://www.sammi.uz/ru/journals/9" style="text-decoration: none; color: black">
                        <img style="width: 900px; " src="/static/images/header_img.png"
                             alt="Научно-теоретический и практический журнал">
                    </a>
                {% else %}
                    <a href="https://www.sammi.uz/ru/journals/9" style="text-decoration: none; color: black">
                        <img style="width: 800px; " src="/static/images/header_img_en.png"
                             alt="Scientific theoretical and practical journal">
                    </a>
                {% endif %}

            </h1>
        </div>

        <nav class="pkp_navigation_primary_row" aria-label="Навигация сайта">
            <div class="pkp_navigation_primary_wrapper">
                <ul id="navigationPrimary" class="pkp_navigation_primary pkp_nav_list">
                    <li class>
                        <a href=""> {% trans "О нас" %} </a>

                        <ul>
                            {% for link in links %}
                                <li class>
                                    <a href="{{ link.get_absolute_url }}"> {{ link.title }} </a>
                                </li>
                            {% endfor %}
                            <li class>
                                <a href="{% url 'editorial-team' %}"> {% trans "Редакция" %} </a>
                            </li>
                        </ul>
                    </li>
                    <li class>
                        <a href="{% url 'issue' %}"> {% trans "Выпуски" %} </a>
                    </li>
                    {% if user.is_staff %}
                        <li class>
                            <a href="/admin/"> {% trans "Админ панель" %} </a>
                        </li>
                    {% endif %}
                    {% for link in menu_links %}
                        <li>
                            <a href={{ link.get_absolute_url }}>{{ link.title }}</a>
                        </li>
                    {% endfor %}

                    {% if next_volume %}
                        <li>
                            <a href="{% url 'pdf-view-volume' next_volume.slug %}">{% trans "Следующий выпуск" %}</a>
                        </li>
                    {% endif %}


                    <!--
                    <li class>
                        <a href="#"> Подписка </a>
                    </li>-->
                </ul>

                <form class="pkp_search" action="{% url 'search' %}"
                      method="get" role="search">

                    <input name="q" value type="text" aria-label="Поисковый запрос"/>

                    <button type="submit">Найти</button>
                    <div class="search_controls" aria-hidden="true">
                        <a href="#"
                           class="headerSearchPrompt search_prompt" aria-hidden="true"> Найти </a>
                        <a href="#" class="search_cancel headerSearchCancel" aria-hidden="true"></a>
                        <span class="search_loading" aria-hidden="true"></span>
                    </div>
                </form>

            </div>
        </nav>
        {% if user.is_authenticated %}
            <nav class="pkp_navigation_user_wrapper" id="navigationUserWrapper" aria-label="Навигация пользователя">
            <ul id="navigationUser" class="pkp_navigation_user pkp_nav_list">
                <li class="profile">
                    <span>Имя: <strong>{{ request.user.username }}</strong></span>
                </li>
                <li class="profile">
                    <a href="{% url 'exit' %}"> Выйти </a>
                </li>

            </ul>
            </nav>
        {% else %}
            <nav class="pkp_navigation_user_wrapper" id="navigationUserWrapper" aria-label="Навигация пользователя">
            <ul id="navigationUser" class="pkp_navigation_user pkp_nav_list">
                <li class="profile">
                    <a href="{% url 'registration' %}"> Регистрация </a>
                </li>
                <li class="profile">
                    <a href="{% url 'login' %}"> Вход </a>
                </li>
            </ul>
        </nav>
        {% endif %}
    </div>
    <!-- .pkp_head_wrapper -->
</header>
